/* BANNER */

.banner_container {
    display: flex;
}

.banner_container__txt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    margin: auto;
}

.banner_container__txt h2 {
    font-size: 48px;
}

.banner_container__txt span {
    font-size: 32px;
    color: var(--verde-claro);
}

.banner_container__txt--social {
    display: flex;
    gap: 40px;
}

.banner_container__txt--social span {
    color: black;
    font-size: 16px;
    margin: auto;
}

.banner_container__txt--social img {
    width: 32px;
}

.banner_container__txt--social-google, .banner_container__txt--social-apple {
    display: flex;
    border: 1px solid black;
    padding: 5px 15px;
    gap: 10px;
    border-radius: 8px;
}

.banner_container__img {
    display: flex;
    width: 40%;
    margin-top: 50px;
}

.banner_container__img img{
    width: 80%;
}