@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Salsa&display=swap');

/* Formatação Global */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    text-decoration: none;
    font-family: var(--texto-principal);
}

body {
    margin: 0 5% 0 5%;
}

/* Declaração das variáveis de cores */

:root {
    --verde-claro: rgba(46, 204, 113, 1);
    --verde-escuro: rgba(39, 174, 96, 1);
    --neutro-claro: rgba(249, 249, 249, 1);
    --texto-escuro: rgba(28, 28, 28, 1);
}

/* Declaração das variáveis de fonte */

:root {
    --texto-principal: 'Salsa', cursive;
}
